.re-table {
  .el-table {
    --el-table-header-bg-color: #f5f7fa;
    --el-table-header-text-color: #606266;
    --el-table-text-color: var(--el-text-color-regular);

    thead th {
      font-weight: 500;
    }
  }

  .re-table-cell--active {
    box-shadow: inset 0 0 0 1px var(--el-color-success-dark-2);
  }

  .el-form-item {
    margin-bottom: 0;
  }
}
